@using Fuzzy
@page "/Variables"
@inject IModalService Modal
@*<h1>Counter?xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h1>

    <p>Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me!!!!</button>*@


<div class="container">
    <div class="row">
        <div class="col-md-12">

            @*<div>
                    <span @onclick="TestMe">To jest tekst</span>
                    <i class="fas fa-ellipsis-v text-black-50"></i>
                </div>*@

            @foreach (FuzzyVariable v in ModelProvider.Data.Model.Variables)
            {
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between align-items-center p-2">
                        <div>
                            Zmienna <span class="font-weight-bold">@v.Name</span> - <span class="font-italic">@v.Description</span>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-light" @onclick="@((MouseEventArgs e) => OnEditVariableDescription(e, v))"><i class="far fa-edit"></i></button>
                            <button class="btn btn-sm btn-light text-danger" @onclick="@((MouseEventArgs e) => OnRemoveVariable(e, v))" ><i class="far fa-trash-alt"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">

                                <div>
                                    <img src="" alt="Wizualizacja">
                                </div>
                                <p>Parametry:</p>
                                <div class="list-group">
                                    <a href="#" class="list-group-item list-group-item-action active"> Cras justo odio </a>
                                    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                                    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                                    <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
                                </div>




                            </div>

                            <div class="col-md-4">
                                <p>Wartości lingwistyczne:</p>
                                <ul class="list-group mb-1">
                                    @foreach (FuzzyValue value in v.Values)
                                    {
                                        <li class="list-group-item pr-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <span>@value.Name</span>
                                                <div>
                                                    <button class="btn btn-sm  btn-light p-1" @onclick="@((MouseEventArgs e) => OnEditValueDescription(e, value))"><i class="far fa-edit"></i></button>
                                                    <button class="btn btn-sm text-danger btn-light p-1" @onclick="@((MouseEventArgs e) => OnRemoveValue(e, value) )"><i class="far fa-trash-alt"></i></button>
                                                </div>
                                            </div>
                                            <small>@value.Description</small>
                                        </li>
                                    }


                                </ul>
                                <button class="btn btn-secondary btn-sm">Dodaj wartość</button>
                            </div>


                        </div>
                    </div>
                MouseEventArgs</div>
            }
        </div>
    </div>
</div>


